<nav class="bg-teal-800 fixed start-0 end-0">

    <div class="container px-10">
        <div class="flex justify-between p-3 mx-auto text-white">
            <div class="w-50">
                <h1>ROUTING APP</h1>
            </div>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/binding" routerLinkActive="active">Binding</a>
            <a routerLink="/controlFlow" routerLinkActive="active">ControlFlow</a>
            <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
            <a routerLink="/ngforNgif" routerLinkActive="active">Ngfor-Ngif</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
</nav>